Flask==3.0.0
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
GeoAlchemy2==0.14.3
SQLAlchemy==2.0.25
DateTime==5.2
numpy==1.25.2
pandas==2.1.1
pyclustering==0.10.1.2
SQLAlchemy==2.0.25
Werkzeug==3.0.1
gunicorn==21.2.0
PyMySQL==1.1.0